{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="ms-2 col-2 rounded-4 mt-5">
                <div class="body text-center" id="filter">
                    <h2>Liste des Streamers</h2>
                    <form>
                        <div class="row form-group">
                            <label for="username_search" class="col-3 col-from-label text-end">Streamers</label>
                            <div class="col-8">
                                <input class="form-control" type="text" name="username_search"
                                       value="{{ username_search }}"
                                       id="username_search">
                            </div>
                        </div>
                        <div class="row form-group mb-3">
                            <label for="game_search" class="col-3 col-from-label text-end">Jeux</label>
                            <div class="col-8">
                                <select class="form-control" id="game_search" name="game_search">
                                    <option {{ game_search == '' ? 'selected': '' }} value="">(Tous les jeux)
                                    </option>
                                    {% for game in games %}
                                        <option {{ game_search == game['name'] ? 'selected' : '' }}>
                                            {{ game['name'] }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row offset-4 col-4">
                            <button type="submit" class="btn btn-primary">Rechercher</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col rounded-5 me-2 my-3" id="offers">
                <div class="row gap-3 justify-content-center mt-4">
                    {% for streamer in streamers %}
                        <div class="card col-2">
                            <img src="{{ streamer.profilePicture }}" class="card-img-top mt-3">
                            <div class="card-body">
                                <div class="col"><p>{{ streamer.username }}</p></div>

                                <a href="{{ path('app_show_streamer', { id: streamer.id }) }}"
                                   class="btn btn-success">Voir le streamer</a>
                            </div>
                        </div>
                    {% endfor %}


                </div>
                {% if previous >= 0 %}
                    <a type="button" class="btn btn-primary offset-4 rounded-4 col-2 fs-2 fw-bolder my-4"
                       href="{{ path('app_company_search', {offset: previous} ) }}">Précédent</a>
                {% endif %}
                {% if next < streamers | length %}
                    <a type="button" class="btn btn-primary rounded-4 col-2 fs-2 fw-bolder my-4 {% if previous < 0 %}offset-5
{% endif %}"
                       href="{{ path('app_company_search', {offset: next} ) }}">Suivant</a>
                {% endif %}
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}

