{% extends 'base.html.twig' %}

        {% block title %}{% endblock %}

        {% block body %}
            <nav class="navbar  justify-content-between border-bottom  shadow p-3 mx-6">
                <a class="navbar-brand" href="{{ path('home_page') }}" ><img alt="Logo" src="/img/logo/logo_small.png" class="pull-left w-50"></a>
                <div class="d-flex align-items-center">
                    {% if app.user.roles[0] == "ROLE_STREAMER" %}
                        <a class="nav-link mx-4 fs-4 fw-bolder" href="{{ path('app_streamer_offers') }}">Mes offres</a>
                        <a class="nav-link mx-4 fs-4 fw-bolder" href="{{ path('app_streamer_contract') }}">Mes contrats</a>
                    {% elseif app.user.roles[0] == "ROLE_COMPANY" %}
                        <a class="nav-link mx-4 fs-4 fw-bolder" href="{{ path('app_company_offers') }}">Mes offres</a>
                        <a class="nav-link mx-4 fs-4 fw-bolder" href="{{ path('app_company_contract') }}">Mes contrats</a>
                    {% endif %}
                    <div class="dropdown d-flex align-items-center">
                        <a class="nav-link mx-4 fs-4 fw-bolder" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                            {% if app.user.roles[0] == "ROLE_COMPANY" %}
                                {{ app.user.name }}
                            {% elseif app.user.roles[0] == "ROLE_STREAMER" %}
                                {{ app.user.username }}
                            {% endif %}
                        </a>

                        {% if app.user.roles[0] == "ROLE_COMPANY" %}
                            <img alt="icon" src="{{ asset('img/company.png') }}" class="icon-login">
                            <ul class="dropdown-menu dropdown-menu-lg-end">
                                <li><a class="dropdown-item d-flex align-items-center" href="{{ path('app_company_profile') }}">Mon profil<ion-icon name="person-circle-outline" class="ms-2"></ion-icon></a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="{{ path('app_logout') }}">Déconnexion<ion-icon name="log-out-outline" class="ms-2"></ion-icon></a></li>
                            </ul>
                        {% elseif app.user.roles[0] == "ROLE_STREAMER" %}
                            <img alt="icon" src="{{ app.user.profilePicture }}" class="icon-login">
                            <ul class="dropdown-menu dropdown-menu-lg-end">
                                <li><a class="dropdown-item d-flex align-items-center" href="{{ path('app_streamer_profile') }}">Mon profil<ion-icon name="person-circle-outline" class="ms-2"></ion-icon></a></li>
                                <li><a class="dropdown-item d-flex align-items-center" href="{{ path('app_logout') }}">Déconnexion<ion-icon name="log-out-outline" class="ms-2"></ion-icon></a></li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>

        <div class="container">
            <div class="row ">
                <div class="col-md-12 d-flex align-items-center justify-content-center mt-5">
                    {% if app.user.roles[0] == "ROLE_STREAMER" %}
                        <div class="card mb-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{ asset('img/company.png') }}" class="card-img">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ company.name }}</h5>
                                        {% if missing_info_company == false %}
                                            <span class="badge rounded-pill bg-info text-dark">Compte vérifié</span>
                                            <p class="d-flex align-items-center"><ion-icon class="me-1" name="shield-checkmark-outline"></ion-icon>Vous pouvez générer un contrat avec cette entreprise</p>
                                            <p class="card-text"><small class="text-muted">{{ company.description }}</small></p>
                                            <a href="{{ path('app_streamer_make_proposal', {id: company.id}) }}" class="btn btn-primary">Faire une offre</a>
                                        {% else %}
                                            <span class="badge rounded-pill bg-info text-dark">Compte non vérifié</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elseif app.user.roles[0] == "ROLE_COMPANY" %}
                        <div class="card mb-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{ profile_picture }}" class="card-img">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ streamer.username }}</h5>
                                        {% if missing_info_streamer == false %}
                                            <span class="badge rounded-pill bg-info text-dark">Compte vérifié</span>
                                            <p class="d-flex align-items-center"><ion-icon class="me-1" name="shield-checkmark-outline"></ion-icon>Vous pouvez générer un contrat avec ce streamer</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                        {% else %}
                                            <span class="badge rounded-pill bg-info text-dark">Compte non vérifié</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        {% endblock %}
