{% extends 'base.html.twig' %}

{% block title %}Votre profile{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="">Votre profil {{ app.user.username }} : </h1>
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item">Pseudo : {{ app.user.username }}</li>
                <li class="list-group-item">Followers : {{ app.user.followers }}</li>
                <li class="list-group-item">Email :
                    {% if app.user.mail %}
                        {{ app.user.mail }}
                    {% else %}
                        Non renseigné !
                    {% endif %}
                </li>

                <li class="list-group-item"> Siret :
                    {% if app.user.siret %}
                        {{ app.user.siret }}
                    {% else %}
                        Non renseigné !
                    {% endif %}
                </li>
                {% if app.user.isMature %}
                    <li class="list-group-item">Public : 18+</li>
                {% else %}
                    <li class="list-group-item">Public : Tous public</li>
                {% endif %}
            </ul>
        </div>
        <a href="{{ path('app_streamer_profile_refresh') }}" class="btn btn-success mt-4">Actualiser mon profil</a>

        {% if missing_info %}
            <div class="my-2 d-flex align-items-center text h4">Il vous manque les informations suivante pour pouvoir
                génerer un contrat:
            </div>
            <ul class="list-group">
                {% for info in missing_info %}
                    <li class="list-group-item d-flex align-items-center">
                        <ion-icon name="warning-outline" class="me-2"></ion-icon>{{ info }}</li>
                {% endfor %}
            </ul>
            <a href="{{ path('app_streamer_profile_edit') }}" class="btn btn-warning mt-4">Compléter mon profil</a>
        {% else %}
            <a href="{{ path('app_streamer_profile_edit') }}" class="btn btn-primary mt-4">Modifier mon profil</a>
            <div class="d-flex align-items-center h4 mt-3">
                <ion-icon name="checkmark-circle-outline" class="text-success"></ion-icon>
                Génération de contrat possible!
            </div>
        {% endif %}
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}

