{% extends 'base.html.twig' %}


{% block body %}


    <main class="d-flex flex-column">
        <div class="container bg-white rounded-4 mt-5 col-xl-6 col-lg-8 col-md-10 col-sm-12">

            <h1 class="text-center mt-5 mb-3">Signature</h1>
            {{ form_start(representative_form) }}

            <div class="row mx-5">
                <div class="flex-column text-nowrap">
                    <span class="text-danger">*</span>
                    {{ form_label(representative_form.first_name) }}
                    {{ form_widget(representative_form.first_name) }}
                </div>
                <div class="flex-column text-nowrap">
                    <span class="text-danger">*</span>
                    {{ form_label(representative_form.last_name) }}
                    {{ form_widget(representative_form.last_name) }}
                </div>
                <div class="flex-column text-nowrap text-center mt-4 mb-4" >
                    {{ form_label(representative_form.save) }}
                    {{ form_widget(representative_form.save) }}
                </div>
                {{ form_end(representative_form) }}
            </div>

        </div>
    </main>
{% endblock %}

